@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2EFE9;
}


h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    background-color: #2d2a26;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bh-map {
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    margin: 20px auto;
}

#points-info {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    background-color: #222831;
    border-radius: 10px;
    box-shadow: 0 4px 8px 948979;
    text-align: center;
}